/* Selector universal = afecta todos los elementos de la página*/
/* con los valores a continuación se resetean los estilos predeterminados de los distintos navegadores*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Selector etiqueta = aplica estilo a todos los elementos de un tipo*/

h1 {
    color: purple;
    font-size: 40px;
    /* controla el tamaño del texto"*/
}

h2 {
    color: purple;
    /* Aplica el color por "nombre de color"*/
    font-size: 36px;
    /* controla el tamaño del texto"*/
}

h3 {
    color: #800080;
    /* Aplica el color por "valor hexadecimal"*/
    font-size: 32px;
    /* controla el tamaño del texto"*/
}

h4 {
    color: rgb(128, 0, 128);
    /* Aplica el color por "valor rgb"*/
    font-size: 28px;
    /* controla el tamaño del texto"*/
}

h5 {
    color: rgba(128, 0, 128, 0.5);
    /* Aplica el color por "valor rgba" con transparencia (valor alpha) - 1 = totalmente opaco*/
    font-size: 24px;
    /* controla el tamaño del texto"*/
}

h6 {
    color: rgba(128, 0, 128, 50%);
    /* Aplica el color por "valor rgba" con transparencia (valor alpha) - 0.5 = semitransparente*/
    font-size: 20px;
    /* controla el tamaño del texto"*/
}

h1 {
    color: black;
    /* Cascada y orden: si dos reglas afectan al mismo elemento y tienen la misma especificidad, se aplicará la última, la que está más abajo del código*/
}

/* Selector de clase = aplica estilo a todos los elementos de un tipo*/

.header__main {
    background-color: plum;
}

.navbar {
    background-color: purple;
}

.nav-list a {
    list-style: none;
    text-decoration: none;
    color: beige;
}

.container__headlines {
    background-color: beige;
}

.container__texto {
    color: beige;
    /* Herencia: al aplicar el color en el padre, se aplica en todos los hijos*/
    background-color: plum;
}

.texto {
    color: purple;
}

.footer__main {
    background-color: purple;
    color: black;
}

.footer__main a {
    list-style: none;
    text-decoration: none;
    color: beige;
}

/* Selector ID = para un estilo único - solo puede aplicarse a un elemento específico*/
#footer {
    color: beige;
    background-color: black;
    font-size: 14px;
}

/* Aplicación de Google Fonts en clase 5*/
.header_clase5 {
    font-family: "Barrio", system-ui;
    font-size: 2rem;
    font-weight: 400;
    font-style: normal;
    color: beige;
}

.txt_clase5 {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    color: black;
}

.link_clase5 {
    list-style: none;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    font-style: normal;
    color: beige;
}

.txt_clase5-footer {
    font-family: "Montserrat", sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    font-style: normal;
    color: beige;
}

/* Aplicación de Backgrounds en clase 5*/

.bg_colorsolido {
    background-color: #800080;
    height: 20rem;
    margin: 1rem;
    padding: 2rem 1rem;
    border: 2px solid black;
}

.bg_imagen-cover {
    background-image: url("../images/clase5/pexels-koolshooters-6983054.jpg");
    background-size: cover;
    background-position: center;
    height: 20rem;
    margin: 1rem;
    padding: 2rem 1rem;
    border: 2px solid black;
}

.bg_imagen-contain {
    background-image: url("../images/clase5/pexels-koolshooters-6983054.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 20rem;
    margin: 1rem;
    padding: 2rem 1rem;
    border: 2px solid black;
}

.bg_degradado {
    background: linear-gradient(46deg, #581490, #6f1382, #6a1463);
    height: 20rem;
    margin: 1rem;
    padding: 2rem 1rem;
    border: 2px solid black;
}

.recuadro {
    background-color: black;
    color: beige;
    width: 25%;
    padding: 0.5rem;
}

/* Aplicación de modelo de caja en clase 6*/

.body__clase6 {
    background-color: #800080;
}

.header__clase6 {
    margin: 20px;
    padding: 15px;
    border: 2px solid black;
    background-color: violet;
}

.titulo__clase6 {
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    font-weight: 700;
    font-style: normal;
    color: black;
}

.section__clase6 {
    margin: 20px;
    padding: 15px;
    border: 2px solid black;
    background-color: lightgray;
}

.txt__clase6 {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    color: black;
}

.footer__clase6 {
    margin: 20px;
    padding: 15px;
    border: 2px solid black;
    background-color: black;
}

.link__clase6 {
    list-style: none;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    font-style: normal;
    color: beige;
}

.txt__clase6-footer {
    font-family: "Montserrat", sans-serif;
    font-size: 0.75rem;
    font-weight: 400;
    font-style: normal;
    color: beige;
}

.productos__clase6 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px;
    padding: 15px;
    border: 2px solid black;
    background-color: lightgray;
}

.producto__clase6 {
    background-color: purple;
    color: white;
    padding: 20px;
    margin: 10px;
    flex: 1 1 200px;
    box-sizing: border-box;
    border: 2px solid black;
}

.producto__clase6-img {
    width: 100%;
}

.txt__clase6-product-name {
    width: 100%;
    height: 3rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    font-style: normal;
    color: beige;
    padding: 0.25rem 0rem;
}

.txt__clase6-product-price {
    font-family: "Montserrat", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
    color: beige;
}